* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #4a90e2, #6c63ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}


.visual-side {
  flex: 1;
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual-image {
  width: 65%;
  height: 45%;
  object-fit: contain;
}

.signup-form {
  flex: 1;
  background: linear-gradient(135deg, #4facfe, #7b2ff7);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  background: #ffffff;
  width: 420px;
  padding: 35px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.6s ease-in-out;
}

/* LOGO */
.logo-container {
  margin-bottom: 15px;
}
.logo {
  width: 90px;
}

.form-card h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}
.form-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}


.input-group {
  margin-bottom: 18px;
  text-align: left;
}
.input-group input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}
.input-group input:focus {
  border-color: #7b2ff7;
}

.checkbox-group label {
  font-size: 14px;
  color: #444;
  display: flex;
  align-items: center;
  gap: 8px;  
  white-space: nowrap; 
}

.signup-btn {
  width: 100%;
  padding: 12px 0;
  border: none;
  background: #6c63ff;
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
.signup-btn:hover {
  background: #5848e5;
}

.login-link {
  margin-top: 12px;
  font-size: 14px;
}
.login-link a {
  color: #6c63ff;
  font-weight: 600;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ===== TABLET ===== */
@media (min-width: 769px) and (max-width: 1024px) {
  .visual-image {
    width: 80%;
    height: 30%;
  }

  .form-card {
    width: 75%;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .visual-side {
    display: none;
  }
  .signup-form {
    flex: 1;
    padding: 20px;
  }
  .form-card {
    width: 90%;
    padding: 25px;
  }
}
