<ng-container *ngIf="industry$ | async as ind; else loading">
  <ng-container [ngSwitch]="ind">
    <app-restaurant-layout *ngSwitchCase="'Restaurant'"></app-restaurant-layout>
    <app-retail-layout *ngSwitchCase="'Retail'"></app-retail-layout>
    <app-medical-layout *ngSwitchCase="'Medical'"></app-medical-layout>
    <app-mobile-layout *ngSwitchCase="'Mobile'"></app-mobile-layout>
    <div *ngSwitchDefault>
      <p>Industry not set. <a routerLink="/onboarding">Complete onboarding</a></p>
    </div>
  </ng-container>
</ng-container>
<ng-template #loading><p>Loading...</p></ng-template>
