* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-container {
  display: flex;
  width: 104%;
  height: 70%;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

/************* LEFT SIDE *************/
.forgot-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 140px;
}

h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 15px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.submit-btn {
  width: 100%;
  padding: 13px;
  background-color: #007BFF;
  color: white;
  font-size: 17px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.back-link {
  margin-top: 20px;
  text-align: center;
}

.back-link a {
  color: #007BFF;
  text-decoration: none;
  font-size: 14px;
}

.back-link a:hover {
  text-decoration: underline;
}

/************* RIGHT SIDE IMAGE *************/
.visual-side {
  flex: 1.5;
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
